* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:lightslategray;
}

.app {
  width: 400px;
  border: 1px solid;
  padding: 2rem;
  background-color:white;
  opacity: 0.5;
}


.app h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.wish-input {
  border-bottom: 3px dashed grey;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.wish-input_label {
  font-weight: 700;
  font-size: 1.2rem;
}

.wish-input_field {
  width: 100%;
  border: 0;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: transparent;
  color: black;
}

.wish-list {
  list-style: none;
  padding: 0;
}

.wish-list_item {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
}

.wish-list_item > * + * {
  margin-left: 1rem;
}

.wish-list_item input {
  width: 2rem;
  height: 2rem;
}

.wish-list_item--done label {
  text-decoration: line-through;
}

button {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid gray;
  border-radius: 3px;
  margin-top: 1rem;
}
.wishlist-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem; /* Espacio entre el icono y el texto */
}

.wishlist-icon img {
  width: 100px; /* Ajusta el tamaño del icono según tus preferencias */
  height: 100px;
  
}
